{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Russian Modules is a textbook companion website for students as well as a suite of tools.">
    <title>{% block head_title_base %}{% block head_title %}{% endblock %} | "Russian Modules"{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />

    {% block style_base %}
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-4.0.0/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/c3/c3.min.css' %}"/>
        {% block extra_style %}{% endblock %}
    {% endblock %}

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

    {% block topbar_base %}
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="navbar-brand" href="/">Russian Modules</a>
                <a class="nav-item nav-link {% block nav_class_home %}{% endblock %}" href="{% url 'text_parsing_analysis' %}">Visible Vocabulary</a>
            </div>
            <div class="navbar-nav navbar-right">
            {% if request.user.is_authenticated and request.user.is_staff %}
                <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
          </div>
     </div>
    </nav>
    {% endblock %}

    <div class="container-fluid">
        {% block page_header_base %}
            {% block page_header %}{% endblock %}
        {% endblock %}

        {% block content_base %}{% endblock %}
    </div>

    {% block script_base %}
        <script src="{% static 'vendor/jquery-3.3.1/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/popper-1.14.3/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-4.0.0/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/d3/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/c3/c3.min.js' %}"></script>
        {% block extra_script %}{% endblock %}
    {% endblock %}

    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
</body>
</html>
