.DS_Store
.idea
.virtualenv
.venv
.vscode
.coverage
*.pyc
*.db
*.sqlite
*.sqlite3
*.log
*.sock
.env*
http_static
NewVisualizingRussian*
/scratch
/django_cache
/russian.csv
# annoy tree ignored because of 1.29 GB size
parser_tool/data/ANNOY_tree.ann