.DS_Store
.idea
.virtualenv
.venv
.vscode
.coverage
*.pyc
*.db
*.sqlite
*.sqlite3
*.log
*.sock
.env*
http_static
NewVisualizingRussian*
/scratch
/django_cache
/russian.csv
parser_tool/static/js/src/2-26-ANN-test.ann
parser_tool/static/js/src/ANNOY_tree.ann