[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
django = "*"
requests = "*"
django-dotenv = "*"

[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
pylint = "*"
