[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
django = "*"
requests = "*"
django-dotenv = "*"
gunicorn = "*"
sentry-sdk = "==0.10.1"

[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
pylint = "*"
