django==2.2.13
requests==2.22.0
django-dotenv==1.4.2
sentry-sdk==0.10.1
lxml==4.6.3
beautifulsoup4==4.8.1
django-cors-headers==3.1.1
gunicorn==20.0.4
whitenoise==5.1.0
pygtrie==2.3.3
navec==0.10.0
annoy==1.17.0