#parsed {
    position: relative;
    font-size: 18px;
    line-height: 1.5em;
    white-space: pre-wrap; /* Note: this seems to help with copy & paste to word... */
    color: black; /* Ensure that non-word characters (e.g. space and punctuation) is black */
}
#textinfo {
    font-size: 125%;
    margin: 18px 0;
}
#wordinfo {
    position: relative;
}
.word.masklevel {
    color: inherit !important;
}
.word.parsed:hover {
    background-color: yellow;
    cursor: pointer;
}
.word.parsed.highlight {
    background-color: yellow;
}
 .btn-red {
    background-color: #990000;
    color: #DEDEDE;
    font-weight: bold;
 }
 .btn-red:hover {
    background-color: #DEDEDE;
    color: #990000;
 }
 .btn-red:active {
    background-color: #DEDEDE;
    color: #990000;
 }
.textinfoval {
    color: #990000;
    font-weight: bold;
}
.underline { text-decoration: underline; }
.indent { margin-left: 3em; }

 /* resize heading elements inside the container */
.container h1 { font-size: 2rem; }
.container h2 { font-size: 1.75rem; }
.container h3 { font-size: 1.5rem; }
.container h4 { font-size: 1.25rem; }
.container h5 { font-size: 1rem; }
.container h6 { font-size: .75rem; }
