{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Front Page{% endblock %}
{% block body_id %}about{% endblock %}
{% block body_class %}{% endblock %}

{% block content %}
<div class="row" style="padding: 10px">
    <div class="col-md-9">
        <h1>About the project</h1>
        
        <h2>What is Visualizing Russian?</h2>
        <p>Visualizing Russian is a suite of web-based tools for language learners, researchers, and teachers created by <a href="mailto:sclancy@fas.harvard.edu>">Steven Clancy</a>.</p>
        
        <h2>Code and data</h2>
        <p><a href="https://github.com/harvard-atg/visualizing_russian_tools">https://github.com/harvard-atg/visualizing_russian_tools</a></p>

        <h2>How to cite</h2>
        <p><cite>Clancy, Steven. Visualizing Russian. A suite of tools for exploring the data behind the Russian language, 2014-2021, (<a href="http://visualizingrussian.fas.harvard.edu">http://visualizingrussian.fas.harvard.edu</a>).</cite></p>

    </div>
</div>
{% endblock %}

