{% extends "site_base.html" %}
{% load static %}

{% block head_title %}Front Page{% endblock %}
{% block body_id %}about{% endblock %}
{% block body_class %}{% endblock %}

{% block content %}
<div class="row" style="padding: 10px">
    <div class="col-md-9">
        <h1>About the project</h1>

        <h2>What is Visualizing Russian?</h2>
        <p>Visualizing Russian is a suite of web-based tools for language learners, researchers, and teachers created by <a href="mailto:sclancy@fas.harvard.edu>">Steven Clancy</a>.</p>

        <h2>Articles</h2>
        <p>
            <cite>Clancy, Steven J. and Lee, Paige (2022) "Visualizing Russian: Illuminating Corpora, Conjugations, and Classrooms," Russian Language Journal: Vol. 72: Iss. 1, Article 2.</cite>
            <br>
            Available at: <a href="https://scholarsarchive.byu.edu/rlj/vol72/iss1/2">https://scholarsarchive.byu.edu/rlj/vol72/iss1/2</a>
        </p>

        <h2>Handouts</h2>
        <p><a href="{% static 'handouts/ClancyPrincetonPresentation28October2021.pdf' %}">Visualizing Russian: Teaching Vocabulary at the
            Intersection of Frequency, Grammar, and
            Communication</a> (2021).</p>

        <h2>Code and data</h2>
        <p><a href="https://github.com/harvard-atg/visualizing_russian_tools">https://github.com/harvard-atg/visualizing_russian_tools</a></p>

        <h2>How to cite</h2>
        <p><cite>Clancy, Steven. Visualizing Russian. A suite of tools for exploring the data behind the Russian language, 2014-{% now "Y" %}, (<a href="http://visualizingrussian.fas.harvard.edu">http://visualizingrussian.fas.harvard.edu</a>).</cite></p>

    </div>
</div>
{% endblock %}

