{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Front Page{% endblock %}
{% block body_id %}frontpage{% endblock %}
{% block body_class %}{% endblock %}
{% block nav_class_about %}active{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-4">
    <div class="card">
        <div class="card-header">Visible Vocabulary</div>
        <div class="card-body">
            <p class="card-text">Visualize the relative difficulty of a Russian text based on core, foundation, expansion, and specialization vocabulary. Words are colorized according to their level.</p>
            <a href="{% url 'text_parsing_analysis' %}" class="btn btn-primary">Enter Visible Vocabulary</a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
            <div class="card-header">Mini-story Creator</div>
        <div class="card-body">
            <p class="card-text">Enter target vocabulary and then write sentences, a paragraph, a mini-story, etc that uses up that vocabulary.</p>
            <a href="{% url 'mini_story_creator' %}" class="btn btn-primary">Enter Mini-story Creator</a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">HTML Colorizer</div>
        <div class="card-body">
            <p class="card-text">Colorize words in HTML according to their level.</p>
            <a href="{% url 'html_colorizer' %}" class="btn btn-primary">Enter HTML Colorizer</a>
        </div>
    </div>
</div>
</div>
{% endblock %}
