{% extends "site_base.html" %}
{% load static %}

{% block head_title %}Home{% endblock %}
{% block body_id %}home{% endblock %}
{% block body_class %}{% endblock %}

{% block content %}
<div class="row" style="padding: 10px">
<div class="col-md-4">
    <div class="card">
        <div class="card-header">Visible Vocabulary</div>
        <div class="card-body">
            <p class="card-text">Visualize the relative difficulty of a Russian text based on core, foundation, expansion, and specialization vocabulary. Words are colorized according to their level.</p>
            <a href="{% url 'text_parsing_analysis' %}" class="btn btn-primary">Enter Visible Vocabulary</a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
            <div class="card-header">Mini-story Creator</div>
        <div class="card-body">
            <p class="card-text">Enter target vocabulary and then write sentences, a paragraph, a mini-story, etc that uses up that vocabulary.</p><br>
            <a href="{% url 'mini_story_creator' %}" class="btn btn-primary">Enter Mini-story Creator</a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">HTML Colorizer</div>
        <div class="card-body">
            <p class="card-text">Colorize words in HTML according to their level.</p><br><br><br>
            <a href="{% url 'html_colorizer' %}" class="btn btn-primary">Enter HTML Colorizer</a>
        </div>
    </div>
</div>
</div>
<div class="row" style="padding: 10px">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Quick Lemma Tool</div>
            <div class="card-body">
                <p class="card-text">Rank words by form/lemma frequency.</p>
                <a href="{% url 'quick_lemma' %}" class="btn btn-primary">Enter Quick Lemma Tool</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Word Formation Tool</div>
            <div class="card-body">
                <p class="card-text">Visualize prefixes, roots, and suffixes.</p>
                <a href="{% url 'word_formation' %}" class="btn btn-primary">Enter Word Formation Tool</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Case Distribution Tool</div>
            <div class="card-body">
                <p class="card-text">Visualize a lemma's case breakdown.</p>
                <a href="{% url 'case_distribution' %}" class="btn btn-primary">Enter Case Distribution Tool</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 10px">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Similarity Tool</div>
            <div class="card-body">
                <p class="card-text">Integration of Navec GloVe word embeddings into a similarity tool for Russian.</p>
                <a href="{% url 'similarity' %}" class="btn btn-primary">Enter Similarity Tool</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Spot-it</div>
            <div class="card-body">
                <p class="card-text">Spot it game</p>
                <a href="{% url 'spot_it_options' %}" class="btn btn-primary">Enter Spot It Game</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row" style="padding: 10px">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Verb Histograms</div>
            <div class="card-body">
                <p class="card-text">See real data on how verbs are used.</p>
                <br>
                <a href="{% url 'verb_histograms' %}" class="btn btn-primary">Enter Verb Histograms</a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row" style="padding: 10px">
</div> -->
{% endblock %}
