{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Visualizing Russian is a textbook companion website for students as well as a suite of tools.">
    <title>{% block head_title_base %}{% block head_title %}{% endblock %} | Visualizing Russian{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% block style_base %}
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" >
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-4.3.1/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/c3-0.7.13/c3.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        {% block extra_style %}{% endblock %}
    {% endblock %}

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>
<body class="theme-default {% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

    {% block topbar_base %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Visualizing Russian</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="nav-item-home"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item" id="nav-item-about"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="nav-item" id="nav-item-visible-vocabulary"><a class="nav-link" href="{% url 'text_parsing_analysis' %}">Visible Vocabulary</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Additional Tools</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" id="nav-item-mini-story-creator" href="{% url 'mini_story_creator' %}">Mini-story Creator</a>
                        <a class="dropdown-item" id="nav-item-quick-lemma" href="{% url 'quick_lemma' %}">Quick Lemma</a>
                        <a class="dropdown-item" id="nav-item-word-formation" href="{% url 'word_formation' %}">Word Formation</a>
                        <a class="dropdown-item" id="nav-item-case-distribution" href="{% url 'case_distribution' %}">Case Distribution</a>
                        <!-- =<a class="dropdown-item" id="nav-item-verb-radar-charts" href="{% url 'verb_radar_chart' %}">Verb Radar Chart</a> -->
                        <a class="dropdown-item" id="nav-item-similarity" href="{% url 'similarity' %}">Similarity Tool</a>
                        <a class="dropdown-item" id="nav-item-html-colorizer" href="{% url 'html_colorizer' %}">HTML Colorizer</a>
                        <a class="dropdown-item" id="nav-item-playing-with-matches" href="{% url 'playing_with_matches' %}">Playing With Matches</a>
                        <a class="dropdown-item" id="nav-item-verb-histograms" href="{% url 'verb_histograms' %}">Verb Histograms</a>
                    </div>
                </li>
                <li class="nav-item">
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
            {% if request.user.is_authenticated and request.user.is_staff %}
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}

    <main role="main" class="container-fluid main">
        {% block page_header_base %}
            {% block page_header %}{% endblock %}
        {% endblock %}

        {% block content_base %}{% endblock %}
    </main>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h5>Visualizing Russian © 2014-{% now "Y" %} Steven Clancy</h5>
                    <p>For questions or further information about the project, please contact Steven Clancy &lt;<a href="mailto:sclancy@fas.harvard.edu">sclancy@fas.harvard.edu</a>&gt;.</p>
                    <p>Citation:<br><cite>Clancy, Steven. Visualizing Russian. A suite of tools for exploring the data behind the Russian language, 2014-{% now "Y" %}, (<a href="http://visualizingrussian.fas.harvard.edu">http://visualizingrussian.fas.harvard.edu</a>).</cite></p>
                    <p>
                        Read the recent article about the project:<br>
                        <cite>Clancy, Steven J. and Lee, Paige (2022) "Visualizing Russian: Illuminating Corpora, Conjugations, and Classrooms," Russian Language Journal: Vol. 72: Iss. 1, Article 2.</cite><br>
                        Available at: <a href="https://scholarsarchive.byu.edu/rlj/vol72/iss1/2">https://scholarsarchive.byu.edu/rlj/vol72/iss1/2</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    {% block script_base %}

        <script src="{% static 'vendor/jquery-3.3.1/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/popper-1.14.3/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendor/d3-5.15.0/d3.min.js' %}"></script>
        <script src="{% static 'vendor/c3-0.7.13/c3.min.js' %}"></script>
        <script src="{% static 'js/src/lib/theme.js' %}"></script>
        <script>
            (function() {
                // use the body ID to designate the "active" navigation item
                let nav_el = document.getElementById("nav-item-"+document.body.id);
                if(nav_el) {
                    nav_el.classList.add("active");
                }
            })();
        </script>
        {% block extra_script %}{% endblock %}
    {% endblock %}

    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
</body>
</html>
