{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Russian Modules is a textbook companion website for students as well as a suite of tools.">
    <title>{% block head_title_base %}{% block head_title %}{% endblock %} | "Russian Modules"{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    {% block style_base %}
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" >
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-4.3.1/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/c3-0.7.13/c3.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        {% block extra_style %}{% endblock %}
    {% endblock %}

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

    {% block topbar_base %}
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="navbar-brand" href="/">Visualizing Russian</a>
                <a class="nav-item nav-link" href="{% url 'text_parsing_analysis' %}">Visible Vocabulary</a>
                <a class="nav-item nav-link" href="{% url 'mini_story_creator' %}">Mini-story Creator</a>
                <a class="nav-item nav-link" href="{% url 'quick_lemma' %}">Quick Lemma Tool</a>
            </div>
            <div class="navbar-nav navbar-right">
            {% if request.user.is_authenticated and request.user.is_staff %}
                <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
          </div>
        </div>
    </nav>
    {% endblock %}

    <main role="main" class="container-fluid main">
        {% block page_header_base %}
            {% block page_header %}{% endblock %}
        {% endblock %}

        {% block content_base %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h5>Visualizing Russian © 2014-2020 Steven Clancy</h5>
                    <p>For questions or further information about the project, please contact Steven Clancy &lt;<a href="mailto:sclancy@fas.harvard.edu">sclancy@fas.harvard.edu</a>&gt;.</p>
                    <p>Citation:<br><cite>Clancy, Steven. Visualizing Russian. A suite of tools for exploring the data behind the Russian language, 2014-2020, (<a href="http://visualizingrussian.fas.harvard.edu">http://visualizingrussian.fas.harvard.edu</a>).</cite></p>
                </div>    
            </div>
        </div>
    </footer>

    {% block script_base %}
        <script src="{% static 'vendor/jquery-3.3.1/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/popper-1.14.3/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendor/d3-5.15.0/d3.min.js' %}"></script>
        <script src="{% static 'vendor/c3-0.7.13/c3.min.js' %}"></script>
        {% block extra_script %}{% endblock %}
    {% endblock %}

    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
</body>
</html>
