html, body {
    height: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 3;
    padding-bottom: 30px;
}
footer {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid #ccc;
    padding: 20px 0;
}
.container, .container-fluid {
    font-family: Lato, sans-serif;
}