{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Visible Vocabulary{% endblock %}
{% block body_id %}visible-vocabulary-page{% endblock %}
{% block body_class %}{% endblock %}
{% block nav_class_about %}active{% endblock %}

{% block extra_style %}
    {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/text_parsing_analysis.css' %}" />

<style>
.russian-col {
    padding: 36px 36px 36px 36px;
    background-color: #f7f7f7;
    border-top: 5px solid #777777;
}
.russian-row {
    font-weight: 400;
    font-family: 'Libre Baskerville';
    background-color: #fff;
}
.russian-header {
    color: #777777;
    font-size: 17px;
    margin: 18px 0 0;
    line-height: 1.75;
}
#textinput {
    font-family: 'Libre Baskerville';
    min-height: 250px;
}
.fix-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
</style>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'js/text_parsing_analysis.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12 russian-col">
        <div class="row mb-2">
            <p class="russian-header">Input Russian Text:</p>
            <textarea id="textinput" class="form-control" rows="5"  ></textarea>
        </div>
        <div class="row justify-content-between">
            <button type="button" align="left" class="btn btn-dark" onclick="parse();">PARSE</button>
            <button type="button" align="left" class="btn btn-dark" onclick="clearAll();">CLEAR</button>
        </div>
    </div>
</div>
<div class="row justifyt-content-around russian-row" id="analysis">
    <div class="col russian-col">
        <p class="russian-header">Text Info:</p>
        <div id="textinfo"></div>
    </div>
    <div class="col russian-col">
        <p class="russian-header">Difficulty Levels:</p>
        <div id="levels"></div>
    </div>
    <div class="col russian-col"></div>
</div>
<div class="row justifyt-content-between mb-5">
    <div class="col-md-8 mt-3 mb">
        <div class="row justify-content-between">
            <div class="col-md-11">
                <p class="russian-header">Parsed Text Analysis</p>
            </div>
            <div class="col-md-1">
                <div class="toggle">U</div>
            </div>
        </div>
        <div id="parsed"></div>
    </div>
    <div class="col-md-4 mt-3" id="sidebar">
        <div class="row">
            <div class="col">
                <p class="russian-header">Word Info:</p>
                <div id="wordinfo">Click on a word.</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
