{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Visible Vocabulary{% endblock %}
{% block body_id %}visible-vocabulary-page{% endblock %}
{% block body_class %}{% endblock %}
{% block nav_class_about %}active{% endblock %}

{% block extra_style %}
    {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/text_parsing_analysis.css' %}" />

<style>
.container {
    font-family: 'Libre Baskerville';
}
.parser-dark {
    background-color: #f7f7f7;
    border-top: 5px solid #777777;
}
.parser-box {
    padding: 36px 36px 36px 36px;
}
.parser-widget {
    padding: 18px;
}
.parser-header {
    color: #777777;
}
</style>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% static 'js/text_parsing_analysis.js' %}"></script>
{% endblock %}


{% block content %}
<div id="parsetext" class="mb-4 parser-dark parser-box">
    <div class="row mb-2">
        <div class="col">
            <h2 class="parser-header">Input Russian Text:</h2>
            <textarea id="textinput" class="form-control" rows="5" style="height:300px;"></textarea>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <button type="button" align="left" class="btn btn-dark" id="parsebtn">PARSE</button>
        <button type="button" align="left" class="btn btn-dark" id="clearbtn">CLEAR</button>
    </div>
</div>
<div id="analysis" class="d-none">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex justify-content-between">
                <h2 class="parser-header">Parsed Text Analysis </h2>
                <div><span class="toggle">U</span></div>
            </div>

            <div id="parsed"></div>
        </div>

        <div class="col-md-4" id="sidebar">
            <div class="parser-widget parser-dark mb-2">
                <h2 class="parser-header">Word Info:</h2>
                <div id="wordinfo">Click on a word.</div>
            </div>
            <div class="parser-widget parser-dark mb-2">
                <h3 class="parser-header">Difficulty Levels:</h3>
                <div id="levels"></div>
            </div>
            <div class="parser-widget parser-dark mb-2">
                <h3 class="parser-header">Text Info:</h3>
                <div id="textinfo"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
