[data-level='1E'] {
     color: green !important;
}
 [data-level='2I'] {
     color: blue !important;
}
 [data-level='3A'], [data-level='3AU'] {
     color: #8000ff !important;
}
 [data-level='4S'], [data-level='4SU'] {
     color: orange !important;
}
 [data-level='5U'] {
     color: orange !important;
}
 [data-level='6U'] {
     color: black !important;
}
 #textinput {
     min-height: 300px;
}
 #parsed {
     font-family: 'Ubuntu Condensed', sans-serif;
     font-size: 18px;
     line-height: 125%;
     /*
     max-height: 350px;
     overflow: scroll;
     */
}
 .underline {
     text-decoration: underline;
}
 .toggle {
     background-color: #990000;
     color: #DEDEDE;
     font-weight: bold;
     top: 5px;
     right: 0px;
     padding-left: 5px;
     padding-right: 5px;
     padding-top: 3px;
     padding-bottom: 3px;
     position: absolute;
}
 .toggle:hover{
     background-color: teal;
     color: #FFF;
     cursor: pointer;
     text-decoration: none;
}
 .toggle:active{
     background-color: #DEDEDE;
     color: #990000;
}
 .word {
     padding: 3px;
     color: #333;
}
 .word:hover {
     background-color: yellow;
     cursor: pointer;
}
 .lnopadding {
     padding-left: 0px !important;
}
 .rnopadding {
     padding-right: 0px !important;
}
 .inline {
     display: inline;
}
 .numbers {
     color: #990000;
     font-size: 21px;
     font-weight: bold;
}
 .tabspace {
     margin-left: 3em;
 }
