{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}ColorizeHTML{% endblock %}
{% block body_id %}colorizehtml{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/colorization.css' %}" />
    <style>
        h2 { color: #777777 }
        iframe.preview_html {
            border: 1px solid #ccc;
            padding: 5px;
            width: 100%;
            min-height: 500px;
            max-width: 100%;
            overflow: auto;
        }
        textarea#output_html {
            white-space: pre;
            width: 100%;
            min-height: 200px;
            border: 1px solid #888;
            padding: 5px;
            outline: none;
            overflow: auto;
            font-size: 10px;
            font-family: Monaco, courier;
        }
    </style>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/src/lib/api.js' %}"></script>
    <script>
(function() {

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("textarea#output_html").focus(function() {
          $(this).select();
        });
    });

    async function colorize(input_html) {
        const url = 'http://localhost:8000/api/colorizehtml';
        const response = await fetch(url, {
          method: 'POST',
          headers: new Headers({'Content-Type': 'text/html'}),
          mode: 'cors',
          body: input_html
        });
        const output_html = await response.text();
        return output_html;
    }

    async function onClickProcessHtml(e) {
        const input_html = document.getElementById("contentinput").value;
        writeframe('inputpreview', input_html);
        writeframe('outputpreview', 'Processing...');
        const output_html = await colorize(input_html);
        writeframe('outputpreview', output_html);
        document.getElementById("output_html").style.display="";
        document.getElementById("output_html").value = output_html;
    }

    function writeframe(id, html) {
        var iframe = document.createElement('iframe');
        iframe.className = "preview_html";
        iframe.src = 'data:text/html;charset=utf-8,' + encodeURI(html);
        document.getElementById(id).innerHTML = "";
        document.getElementById(id).appendChild(iframe);
    }

    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById("colorizebtn").addEventListener("click", onClickProcessHtml);
    });
})();
    </script>
{% endblock %}


{% block content %}
<a name="top"></a>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-3">
        <h2>Enter HTML to colorize:</h2>
        <textarea id="contentinput" style="min-height:200px; width: 100%; overflow: auto; resize: vertical; border-bottom: 5px #ccc;"></textarea>
    </div>
</div>
<div class="row mb-3" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="form-group">
            <button type="button" align="left" class="btn btn-lg btn-primary mt-2 mb-2" id="colorizebtn">Colorize HTML <i id="processing_indicator" class="spinner-border" role="status" style="display:none;"></i></button>
        </div>
        <div id="colorizeerror" class="mb-3" style="display:none; color: red;"></div>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div id="inputpreview"></div>
    </div>
    <div class="col-md-5">
        <div id="outputpreview"></div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-10"><textarea id="output_html" style="display:none;"></textarea></div>
</div>
{% endblock %}
