{% extends "site_base.html" %}
{% load static %}

{% block head_title %}HTML Colorizer{% endblock %}
{% block body_id %}html-colorizer{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
    {{ block.super }}
    <style>
        h2 { color: #777777 }
        iframe.previewhtml {
            border: 1px solid #ccc;
            padding: 5px;
            width: 100%;
            min-height: 500px;
            max-width: 100%;
            overflow: auto;
        }
        textarea#outputhtml {
            white-space: pre;
            width: 100%;
            min-height: 200px;
            border: 1px solid #888;
            padding: 5px;
            outline: none;
            overflow: auto;
            font-size: 10px;
            font-family: Monaco, courier;
        }
    </style>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/src/lib/api.js' %}"></script>
    <script src="{% static 'js/src/html_colorizer.js' %}"></script>
{% endblock %}


{% block content %}
<a name="top"></a>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-3">
        <h2>Enter HTML to colorize:</h2>
        <textarea id="contentinput" style="min-height:200px; width: 100%; overflow: auto; resize: vertical; border-bottom: 5px #ccc;"></textarea>
    </div>
</div>
<div class="row mb-3" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="form-group">
            <button type="button" align="left" class="btn btn-lg btn-primary mt-2 mb-2" id="colorizebtn">Colorize HTML <i id="processing_indicator" class="spinner-border" role="status" style="display:none;"></i></button>
        </div>
        <div id="colorizeerror" class="mb-3" style="display:none; color: red;"></div>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col-md-1"></div>
    <div class="col-md-5" id="inputpreview"></div>
    <div class="col-md-5" id="outputpreview"></div>
</div>
<div id="results" class="row mt-3 bt-5" style="display:none;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <button type="button" id="copytoclipboard" class="btn btn-secondary btn-sm" style="float:right;">Copy to clipboard</button>
        <textarea id="outputhtml" style="clear:both; margin-top: 10px;" readonly></textarea>
    </div>
</div>
{% endblock %}
