{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Mini Story Creator{% endblock %}
{% block body_id %}mini-story-creator-page{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
    {{ block.super }}
    <style>
        h2 { color: #777777 }
    </style>
{% endblock %}

{% block extra_script %}
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <script type="text/javascript" src="{% static 'js/api_client.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mini_story_creator.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row mb-3" style="background-color: #f7f7f7">
    <div class="col-md-7 offset-1 mt-3">
        <h2>Enter Mini-story:</h2>
        <textarea id="ministorytext" class="form-control" style="min-height:200px;"></textarea>
        <button type="button" align="left" class="btn btn-lg btn-primary mt-2 mb-2" id="checkstory">Check Story Vocabulary</button>
    </div>
    <div class="col-md-3 mt-3">
        <h2>Target vocabulary</h2>
        <textarea id="ministoryvocab" class="form-control" style="min-height:200px;"></textarea>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-2 offset-1" id="story_words"></div>
    <div class="col-md-2" id="story_lemmas"></div>
    <div class="col-md-2" id="vocab_words"></div>
    <div class="col-md-2" id="vocab_lemmas"></div>
</div>
{% endblock %}
