{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Quick Lemma{% endblock %}
{% block body_id %}quicklemma{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/colorization.css' %}" />
<style>
    h2 {
        color: #777777
    }

    iframe.previewhtml {
        border: 1px solid #ccc;
        padding: 5px;
        width: 100%;
        min-height: 500px;
        max-width: 100%;
        overflow: auto;
    }

    textarea#outputhtml {
        white-space: pre;
        width: 100%;
        min-height: 200px;
        border: 1px solid #888;
        padding: 5px;
        outline: none;
        overflow: auto;
        font-size: 10px;
        font-family: Monaco, courier;
    }

    .btn {
        font-size: medium;
        width: 200px;
    }

    .formbtn {
        background-color: red;
        border: red;
    }

    .rncbtn {
        background-color: gray;
        border: gray;
    }

    .rncbtn:hover {
        background-color: rgb(85, 85, 85);
    }

    .formbtn:hover {
        background-color: #cc0000;
    }

    .getformbtn {
        background-color: rgb(255, 179, 0);
        border: rgb(255, 179, 0);
    }

    .getformbtn:hover {
        background-color: rgb(172, 122, 8);
    }

    th,
    td {
        padding: 7px;
        text-align: left;
        max-width: 100%;
        white-space: nowrap;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/src/lib/api.js' %}"></script>
<script src="{% static 'js/src/quick_lemma.js' %}"></script>
{% endblock %}


{% block content %}
<a name="top"></a>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-3">
        <h2>Quick Lemma Tool</h2>
        <!-- input area -->
        <textarea id="contentinput" placeholder="Enter list of text for frequencies"
            style="min-height:100px; width: 100%; overflow: auto; resize: vertical; border-bottom: 5px #ccc;"></textarea>
        <!-- row of descriptions -->
        <div class="row mb-3" style="font-size: small; background-color: #f7f7f7">
            <div class="col-md">
                <h2 style="font-size: 125%"><span style="color: blue">Lemma</span>: e.g. Compare русский vs. российский</h2>
            </div>
            <div class="col-md">
                <h2 style="font-size: 125%"><span style="color: red">Inflection</span>: e.g. Compare the forms масло, масла, маслом</h2>
            </div>
            <div class="col-md">
                <h2 style="font-size: 125%"><span style="color: rgb(255, 179, 0)">Get forms from lemma</span>: e.g.<br>
                    Input улица &#8594 Output улица, улице, улицу, улицы, улицах...</h2>
            </div>
            <div class="col-md">
                <h2 style="font-size: 125%"><span style="color: black">Get RNC Counts</span>: on forms in the <a href="https://ruscorpora.ru/old/en/index.html">Russian
                    National Corpus (RNC)</a></h2>
            </div>
            <div id="qlerror" class="mb-3" style="display:none; color: red;"></div>
        </div>
        <!-- row of buttons -->
        <div class="row mb-3" style="margin-top: 0; font-size: small; background-color: #f7f7f7">
            <div class="col-md">
                <div class="form-group">

                    <button type="button" align="left" class="btn btn-lg btn-primary mt-2 mb-2" id="sortedlemmabtn">Get
                        lemma frequencies<i id="processing_indicator" class="spinner-border" role="status"
                            style="display:none;"></i></button>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <button type="button" align="left" class="formbtn btn btn-lg btn-primary mt-2 mb-2"
                        id="sortedformbtn">Get form frequencies<i id="processing_indicator" class="spinner-border"
                            role="status" style="display:none;"></i></button>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <button type="button" align="left" class="getformbtn btn btn-lg btn-primary mt-2 mb-2"
                        id="getformsbtn">Get forms from lemma<i id="processing_indicator" class="spinner-border"
                            role="status" style="display:none;"></i></button>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <button type="button" align="left" class="rncbtn btn btn-lg btn-primary mt-2 mb-2" id="rncbtn">Get
                        RNC counts<i id="processing_indicator" class="spinner-border" role="status"
                            style="display:none;"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- output area -->
<div id="rnc_info" class="row mt-3 bt-5" style='display: none;'>
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <table style="width:100%; color: gray">Query data is from the Russian National Corpus, which has 321,712,061
            words and 124,565 documents in total.</table>
    </div>
</div>
<div id="results" class="row mt-3 bt-5">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <table id='outputtable' style="width:100%"></table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <table id='ngramtitle' style="width:100%; color: gray"></table>
        <div id='ngramviewer'></div>
    </div>
    <div class="col-md-1"></div>
</div>

<br><br>


{% endblock %}