{% extends "site_base.html" %}
{% load static %}

{% block head_title %}Quick Lemma{% endblock %}
{% block body_id %}quick-lemma{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/colorization.css' %}" />
<style>
    h2 {
        color: #777777
    }
    iframe.previewhtml {
        border: 1px solid #ccc;
        padding: 5px;
        width: 100%;
        min-height: 500px;
        max-width: 100%;
        overflow: auto;
    }
    textarea#outputhtml {
        white-space: pre;
        width: 100%;
        min-height: 200px;
        border: 1px solid #888;
        padding: 5px;
        outline: none;
        overflow: auto;
        font-size: 10px;
        font-family: Monaco, courier;
    }
    .dropdown {
        font-size: medium;
    }
    .btn {
        font-size: medium;
        width: fit-content;
    }
    .clearbtn {
        background-color: tomato;
        border: tomato;
        opacity: .9;
    }
    .clearbtn:hover {
        background-color: rgb(230, 67, 39);
    }
    .getformbtn {
        background-color: rgb(255, 179, 0);
        border: rgb(255, 179, 0);
    }
    .getformbtn:hover {
        background-color: rgb(172, 122, 8);
    }
    th,
    td {
        padding: 7px;
        text-align: left;
        max-width: 100%;
        white-space: nowrap;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
</style>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/src/lib/api.js' %}"></script>
<script src="{% static 'js/src/quick_lemma.js' %}"></script>
{% endblock %}


{% block content %}
<a name="top"></a>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-3">
        <h2>Quick Lemma Tool</h2>
        <!-- input area -->
        <textarea id="contentinput" placeholder="Enter word or list of words for frequency information"
            style="min-height:100px; width: 100%; overflow: auto; resize: vertical; border-bottom: 5px #ccc;"></textarea>
        <!-- row of buttons -->
        <div class="row mb-3" style="margin-top: 0; font-size: small; background-color: #f7f7f7">
            <div class="col-md-2">
                <div class="form-group">
                    <button type="button" align="left" class="btn btn-lg btn-primary mt-2 mb-2" id="sortedlemmabtn" style="margin-top: 100px">Get
                        frequencies<i id="processing_indicator" class="spinner-border" role="status"
                            style="display:none;"></i></button>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <button type="button" align="left" class="getformbtn btn btn-lg btn-primary mt-2 mb-2"
                        id="getformsbtn">Generate forms from lemma<i id="processing_indicator" class="spinner-border"
                            role="status" style="display:none;"></i></button>
                </div>
            </div>
            <div class="col-md-2" id="type_dropdown" style="display: none">
                <label class="dropdown" for="type_dropdown">Word type: </label>
                <br>
                <select id="type_dropdown_options" class="dropdown" nfFormame="type_dropdown">
                    <option value="lemmas">Lemma</option>
                    <option value="forms">Form/inflection</option>
                </select>
            </div>
            <div class="col-md-3" id="source_dropdown" style="display: none">
                <label class="dropdown" for="source_dropdown">Source: </label>
                <select id="source_dropdown_options" class="dropdown" name="source_dropdown">
                    <option value="visrus">Visualizing Russian Database</option>
                    <option value="rnc">Russian National Corpus Counts</option>
                </select>
            </div>
            <div class="col-md-2" id="clearbtn_display" style="display:none;">
                <div class="form-group">
                    <button type="button" align="left" class="clearbtn btn btn-lg btn-primary mt-2 mb-2" id="clearbtn">Clear display</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- output area -->
<div id="rnc_info" class="row mt-3 bt-5" style='display: none;'>
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <table style="width:100%; color: gray">Query data is from the <a href='https://ruscorpora.ru/new/en/'>Russian National Corpus</a> (321,712,061
            words and 124,565 documents total).</table>
    </div>
</div>
<div id="results" class="row mt-3 bt-5">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <table id='outputtable' style="width:100%"></table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <table id='ngramtitle' style="width:100%; color: gray"></table>
        <div id='ngramviewer'></div>
    </div>
    <div class="col-md-1"></div>
</div>

<br><br>


{% endblock %}