{% extends "site_base.html" %}
{% load static %}

{% block head_title %}Spot It Options{% endblock %}
{% block body_id %}spot-it-options{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/colorization.css' %}" />
<style>

</style>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/src/spot_it_reset.js' %}"></script>
{% endblock %}


{% block content %}
<a name="top"></a>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
</div>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <button class="restart" onclick="history.back();" >Restart</button>
        <button class="options">Options</button>
    </div>
</div>

{% endblock %}