{% extends "site_base.html" %}
{% load static %}

{% block head_title %}Spot It{% endblock %}
{% block body_id %}spot-it{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/colorization.css' %}" />
<style>
   .card {
		border: 1px solid #ddd;
		border-radius: 100%;
		max-width: 450px;
		max-height: 450px;
		text-align: center;
    }
    .custom-button , .custom-button:focus {
        {% comment %} outline: none; {% endcomment %}
        background: transparent;
        border: 1px solid transparent;
    }
    .custom-button:active    {
        {% comment %} outline: none; {% endcomment %}
        background: transparent;
        border: 1px solid transparent;
    }
</style>
{% endblock %}

{% block extra_script %}
<script id="data" type="application/json">
    {{ data | safe }}
</script>
<script src="{% static 'js/src/spot_it.js' %}"></script>
{% endblock %}


{% block content %}
<a name="top"></a>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
</div>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="form-group">
            <div id="p1Score">Player 1 Score: 0</div>
            <div id="p2Score">Player 2 Score: 0</div>
        </div>
        <div id="central-card"class="mr-4 mb-5">Placeholder central card</div>
        <div class="d-flex justify-content-between">
            <div class="flex-row  mr-4">
                <label for="p1" class="d-block text-center font-weight-bold">PLAYER 1</label><br>
                <div id="p1">Player 1 placeholder</div>
            </div>
            <div class="flex-row">
                <label for="p2" class="d-block text-center font-weight-bold">PLAYER 2</label><br>
                <div id="p2">Player 2 placeholder</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}