{% extends "site_base.html" %}
{% load static %}

{% block head_title %}Spot It Options{% endblock %}
{% block body_id %}spot-it-options{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/colorization.css' %}" />
{% endblock %}

{% block extra_script %}
{% endblock %}


{% block content %}
<a name="top"></a>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
</div>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10">
    <form method="post">
        {% csrf_token %}
            <div class="custom-radio d-flex flex-column">
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {{ field.label_tag }} {{ field }}
                {% endfor %}
            </div>
            <br>
            <button class="btn btn-dark my-4" type="submit">Submit</button>
    </form>
       
    </div>
</div>

{% endblock %}