{% extends "site_base.html" %}
{% load static %}

{% block head_title %}Visible Vocabulary{% endblock %}
{% block body_id %}visible-vocabulary{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
    {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/text_parsing_analysis.css' %}" />
<style>
.parser-input {
    padding: 36px 0 0 0;
    background-color: #f7f7f7;
}
.parser-header {
    color: #777777;
}
</style>
{% endblock %}

{% block extra_script %}
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <script src="{% static 'js/src/lib/api.js' %}"></script>
    <script src="{% static 'js/src/lib/utils.js' %}"></script>
    <script src="{% static 'js/src/lib/gauges.js' %}"></script>
    <script src="{% static 'js/src/lib/charts.js' %}"></script>
    <script src="{% static 'js/src/lib/components.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/src/text_parsing_analysis.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row parser-container parser-input">
    <div class="col-md-9 offset-1">
        <div class="mb-4">
            <div class="row mb-2">
                <div class="col">
                    <h2 class="parser-header">Visible Vocabulary Tool</h2>
                    <textarea id="textinput" class="form-control" style="min-height:150px;" placeholder="Enter Russian text to receive an analysis by word level"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="increaseColorReadability">
                        <label class="form-check-label" for="increaseColorReadability">
                            Use colors with increased contrast for readability
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between" style="margin-bottom: 1em;">
                <button type="button" align="left" class="btn btn-lg btn-primary" id="parsebtn">Analyze Text <i id="parsespinner" class="spinner-border d-none" role="status"><span class="sr-only"></span></i></button>
                <button type="button" align="left" class="btn btn-lg btn-dark" id="clearbtn">Clear</button>
            </div>
            <div id="parser-error" class="alert alert-danger d-none"></div>
        </div>
    </div>
</div>
<div id="analysis" class="d-none">
    <div class="row" >
        <div class="col-md-3 offset-1">
            <div id="chart-bar" class="mt-2 mb-2" style="height: 300px;"></div>
        </div>
        <div class="col-md-3">
            <div id="chart-pie" class="mt-2 mb-2" style="height: 300px;"></div>
        </div>
        <div class="col-md-3">
            <div id="textinfo" class="mt-2 mb-2 text-muted" style="padding-left: 1em;"></div>
        </div>
    </div>
    <div class="row" style="border-bottom: 2px solid #efefef;">
        <div class="col-md-11 offset-1 mt-2 mb-2">
            <div class="btn-group-toggle">
                <label class="btn btn-outline-secondary btn-sm">
                  <input type="checkbox" id="toggle-chart-levels" value="1"> Combine L1 and L2
                </label>
              </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 offset-1">
            <div class="d-flex justify-content-between">
                <h2 class="parser-header">Parsed Text </h2>
                <div>
                    <button class="btn btn-red underline-toggle" data-toggle="tooltip" title="Reveal ambiguous forms">U</button>
                    <button id="lemma-toggle" class="btn btn-red lemma-toggle" data-toggle="tooltip" title="Show lemmatization">Lemmas</button>
                </div>
            </div>
            <div id="parsed"></div>
        </div>
        <div class="col-md-3" style="overflow-y: auto;">
            <h3 class="parser-header">Word Info</h3>
            <div id="wordinfo" class="mb-2">
                <div id="worddetails"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
