{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Verb Radar Charts{% endblock %}
{% block body_id %}verb-radar-charts{% endblock %}
{% block body_class %}{% endblock %}

{% block extra_style %}
{{ block.super }}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/colorization.css' %}" />
<style>
    h2 {
        color: #777777
    }

    iframe.previewhtml {
        border: 1px solid #ccc;
        padding: 5px;
        width: 100%;
        min-height: 15px;
        max-width: 100%;
        overflow: auto;
    }

    #contentinput {
        overflow: auto;
        resize: vertical;
        border-bottom: 5px #ccc;
    }

    textarea#outputhtml {
        white-space: pre;
        width: 250px;
        min-height: 15px;
        border: 1px solid #888;
        padding: 5px;
        outline: none;
        overflow: auto;
        font-size: 20px;
        font-family: Monaco, courier;
    }
    .gray {
        color: gray;
    }
</style>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/src/lib/api.js' %}"></script>
<script src="{% static 'js/src/verb_radar_chart.js' %}"></script>

{% endblock %}


{% block content %}
<a name="top"></a>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-3">
        <h2>Verb Radar Charts</h2>
        <p style="color: gray">
            Word counts collected from the Morphological Standard Russian National Corpus, 2020,
            <a href="https://ruscorpora.ru/new/en/index.html">https://ruscorpora.ru/new/en/index.html</a>.
        </p>
        <textarea id="contentinput" placeholder="Enter verb to generate radar chart"
            style="min-height:15px; width: 100%;"></textarea>
    </div>
</div>
<div class="row" style="background-color: #f7f7f7">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="form-group">
            <button type="button" class="formbtn btn btn-lg btn-primary mt-2 mb-2" id="makechart">Generate
                chart<i id="processing_indicator" class="spinner-border" role="status"
                    style="display:none;"></i></button>
        </div>
    </div>
</div>
<div class="row" style="background-color: white">
    <div class="col-md-1"></div>
    <div class="col-md-4 mt-3">
        <div id="output" style="display: none">
            <h4>Distribution of <span id='lemma' style="font-weight: bold"></span></h4>
            <span style="float: left">
                <h5 style="color: black">Total occurrences: <span id="total"></span></h5>
                <h5 class='gray'>Past: <span id='past'></span></h5>
                <h5 class='gray'>Present: <span id='present'></span></h5>
                <h5 class='gray'>Future: <span id='future'></span></h5>
            </span>
           
        </div>
        <div id="error" style="color: gray; display: none">
            <h5>Word not found in the database.</h5>
            <h5>Try the infinitive form of the verb or an alternate spelling.</h5>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div id="chart"></div>
    </div>
</div>
{% endblock %}